* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: "NotoKR", "San-Serif";
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
}
ul, li {
    list-style: none;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 110px;
    padding: 15px 0 0 0;
    z-index: 50;
    box-sizing: border-box;
}
.header h1 a {
    overflow: hidden;
    display: inline-block;
    height: 70px;
    padding: 20px 20px 20px 20px;
}
.header .btn_all {
    overflow: hidden;
    position: absolute;
    left: 17.5%;
    top: 30px;
    width: 78px;
    height: 28px;
    padding: 20px 0 20px 0;
}
img {
    vertical-align: top;
}
.gnb {
    overflow-y: auto;
}
.gnb .gnb_close {
    position: absolute;
    right: 60px;
    top: 20px;
    width: 28px;
    height: 28px;
    z-index: 115;
}
.dim {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: url(../images/main/bg_menu.png) repeat 0 0;
}
.header .language_box {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 55px;
    margin-left: 25%;
}
.header .language_box a {
    display: inline-block;
    margin-left: 7px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.header .language_box a.on {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
.business_p .visual_info {
    position: relative;
    text-align: center;
    height: 1080px;
    background: url(../images/business/bg_business_detail.jpg) no-repeat 50% 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.business_p .visual_tit {
    padding: 215px 0 0 0;
}
.business_p .visual_tit .tit_category {
    display: block;
    padding: 110px 0 0 0;
    font-size: 26px;
    color: #fff;
    background: url(./images/bg_tit_category.png) no-repeat 50% 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.business_p .visual_tit .tit_category.type_1 {
    background-image: url(./images/bg_tit_category01.png);
}
.business_p .tit_union {
    position: relative;
    display: block;
    margin: 70px 0 0 0;
    padding: 0 0 30px 0;
    font-size: 80px;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.business_p .tit_union:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #da291c;
    margin-left: -25px;
}
.business_p .txt_union {
    margin: 40px 0 0 0;
    font-size: 18px;
    color: #fff;
    line-height: 1.4em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.business_p .visual_tit a, .business_p .visual_tit ._top_ank {
    display: inline-block;
    width: 216px;
    height: 45px;
    line-height: 45px;
    margin: 120px 0 0 5px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
}
.business_p .ico_scroll {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 46px;
    height: 35px;
    background: url(/images/ico_arr.png) no-repeat 0 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.intro_affiliate {
    width: 1180px;
    margin: 0 auto;
}
.tit_affiliate {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding: 100px 0 25px 0;
    font-size: 46px;
    color: #222;
}
.tit_affiliate:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #da291c;
    margin-left: -30px;
}
.intro_area {
    position: relative;
}
.intro_area .img_affiliate {
    position: absolute;
    left: 0;
    top: 0;
    width: 940px;
    height: 440px;
}
.txt_affiliate {
    position: relative;
    padding: 120px 0 0 0;
    z-index: 1;
}
.txt_affiliate p {
    width: 460px;
    height: 320px;
    margin: 0 0 0 720px;
    padding: 40px 0 0 60px;
    font-size: 15px;
    color: #232937;
    line-height: 1.7em;
    background: #fff;
    box-sizing: border-box;
}
.txt_affiliate strong {
    display: block;
    margin-bottom: 10px;
    font-size: 26px;
    color: #232937;
    font-weight: 700;
    line-height: 1.2em;
}
.affiliate_list {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 100px 0 0 0;
}
.affiliate_list li {
    position: relative;
    display: table-cell;
    text-align: center;
    height: 200px;
    padding: 105px 0 0;
    font-size: 16px;
    color: #da291c;
    font-weight: 700;
    box-sizing: border-box;
}
.affiliate_list li.affiliate01 {
    background: url(./images/ico_affiliate01.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate02 {
    background: url(./images/ico_affiliate02.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate03 {
    background: url(./images/ico_affiliate03.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate04 {
    background: url(./images/ico_affiliate04.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate05 {
    background: url(./images/ico_affiliate05.png) no-repeat 50% 20px;
}
.affiliate_list li span {
    display: block;
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: -0.5px;
}
.affiliate_list li:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 200px;
    background: url(../images/business/bg_affiliate_list.gif) no-repeat 0 0;
}
.tit_affiliate {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding: 100px 0 25px 0;
    font-size: 46px;
    color: #222;
}
.tit_affiliate:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #da291c;
    margin-left: -30px;
}
.core_contents {
    position: relative;
    overflow: hidden;
    height: 520px;
}
.core_visual {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1920px;
    height: 520px;
    margin-left: -960px;
}
.service_slide {
    position: absolute;
    left: 50%;
    top: 40px;
    width: 400px;
    height: 440px;
    margin-left: -590px;
    background: #fff;
    z-index: 1;
}
.service_slide .bx-viewport, .service_slide .bx-wrapper {
    overflow: hidden;
    width: 400px !important;
}
.service_slide li {
    overflow: hidden;
    text-align: center;
    width: 400px;
    padding: 50px 50px 0;
    height: 350px;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
    font-weight: 600;
    box-sizing: border-box;
}
.service_slide li strong {
    display: block;
    height: 75px;
    font-size: 28px;
    color: #da291c;
    font-weight: 600;
    line-height: 1.2em;
    box-sizing: border-box;
}
/*.service_slide li p {
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: white;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
} 보류*/
.service_slide li p span {
    display: block;
    padding-bottom: 20px;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
}
.service_slide .bx-controls {
    position: absolute;
    left: 0;
    bottom: 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0 85px;
    box-sizing: border-box;
}
.service_slide .bx-pager {
    display: inline-block;
    vertical-align: middle;
}
.service_slide .bx-pager-item {
    display: inline-block;
    vertical-align: middle;
}
.service_slide .bx-pager-item a {
    display: inline-block;
    width: 24px;
    height: 10px;
    font-size: 0;
    text-indent: -9999px;
    background: url(./images/img_indicator.png) no-repeat 50% 0;
}
.service_slide .bx-pager-item a.active {
    position: relative;
    background-image: url(./images/img_indicator_on.png);
}
.service_slide .bx-pager-item a.active::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 3.4px;
    width: 16px;
    height: 16px;
    border: 1px solid #da291c;
    border-radius: 100%;
}
.service_slide .bx-controls-direction {
    display: inline-block;
}
.service_slide .bx-controls-direction .bx-prev {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    left: 45px;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    background: url(./images/btn_vedio_left.png) no-repeat 0 0;
}
.service_slide .bx-controls-direction .bx-next {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    background: url(./images/btn_video_right.png) no-repeat 0 0;
}