.service_slide .bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    background: none !important;
    margin-bottom: 0 !important; /* 아래쪽으로 밀리는 원인 제거 */
}

/* 뷰포트(슬라이드 노출 영역) 배경도 초기화 */
.service_slide .bx-viewport {
    background: none !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    left: 0 !important;
}
* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: "NotoKR", "San-Serif";
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 110px;
    padding: 15px 0 0 0;
    z-index: 50;
    box-sizing: border-box;
}
.header h1 a {
    overflow: hidden;
    display: inline-block;
    height: 70px;
    padding: 20px 20px 20px 20px;
}
.header .btn_all {
    overflow: hidden;
    position: absolute;
    left: 17.5%;
    top: 30px;
    width: 78px;
    height: 28px;
    padding: 20px 0 20px 0;
}
img {
    vertical-align: top;
}
.gnb .inner {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 50px;
    vertical-align: middle;
    width: 100%;
    padding: 0 100px 0 140px;
    box-sizing: border-box;
}
.gnb .innner_wrap {
    position: relative;
    margin-top: 22px;
    padding-bottom: 19px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
}
.gnb .innner_wrap.ir {
    height: 114px;
}
.gnb .innner_wrap.ir ul {
    border-bottom: 1px solid #e8e8e8;
}
.gnb .innner_wrap.ir ul:last-child {
    top: 80px;
    border: 0;
}
.gnb .innner_wrap.ir ul li a {
    height: 54px;
}
.gnb .tit_gnb {
    display: inline-block;
    width: 211px;
}
.gnb .tit_gnb a {
    display: inline-block;
    font-size: 24px;
    color: #222;
    font-weight: 800;
}
.gnb ul {
    position: absolute;
    left: 220px;
    top: 0;
    width: 590px;
}
.gnb li {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    text-align: center;
}
.gnb li a {
    position: relative;
    display: block;
    height: 55px;
    line-height: 1.2em;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}
.gnb li a:hover {
    color: #da291c; /* 글자색 빨강 */
}

.gnb li a:hover::after {
    width: 100%; /*보류 (안됨)*/
    background-color: #da291c
}

.gnb {
    overflow-y: auto;
    position: fixed;
    left: -1106px;
    top: 0;
    display: none;
    width: 1106px;
    height: 100%;
    background: #fff url(../images/bg_gnb.png) no-repeat right bottom;
    table-layout: fixed;
    z-index: 110
}

.gnb .gnb_close {
    position: absolute;
    right: 60px;
    top: 20px;
    width: 28px;
    height: 28px;
    z-index: 115;
}
.gnb.active {
  left: 0;
  display: block;
}
.dim {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: url(../images/bg_menu.jpg) repeat 0 0;
}
.dim.on {
  display: block; 
}

.header .language_box {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 55px;
    margin-left: 25%;
}
.header .language_box a {
    display: inline-block;
    margin-left: 7px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.header .language_box a.on {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
.business_p .visual_info {
    position: relative;
    text-align: center;
    height: 1080px;
    background: url(../images/bg_business_detail.jpg) no-repeat 50% 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.business_p .visual_tit {
    padding: 215px 0 0 0;
}
.business_p .visual_tit .tit_category {
    display: block;
    padding: 110px 0 0 0;
    font-size: 26px;
    color: #fff;
    background: url(../images/bg_tit_category.png) no-repeat 50% 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.business_p .visual_tit .tit_category.type_1 {
    background-image: url(../images/bg_tit_category01.png);
}
.business_p .tit_union {
    position: relative;
    display: block;
    margin: 70px 0 0 0;
    padding: 0 0 30px 0;
    font-size: 80px;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.business_p .tit_union:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #da291c;
    margin-left: -25px;
}
.business_p .txt_union {
    margin: 40px 0 0 0;
    font-size: 18px;
    color: #fff;
    line-height: 1.4em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.business_p .visual_tit a, .business_p .visual_tit ._top_ank {
    display: inline-block;
    width: 216px;
    height: 45px;
    line-height: 45px;
    margin: 120px 0 0 5px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
}
.business_p .ico_scroll {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 46px;
    height: 35px;
    background: url(../images/ico_arr.png) no-repeat 0 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.intro_affiliate {
    width: 1180px;
    margin: 0 auto;
}
.tit_affiliate {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding: 100px 0 25px 0;
    font-size: 46px;
    color: #222;
}
.tit_affiliate:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #da291c;
    margin-left: -30px;
}
.intro_area {
    position: relative;
}
.intro_area .img_affiliate {
    position: absolute;
    left: 0;
    top: 0;
    width: 940px;
    height: 440px;
}
.txt_affiliate {
    position: relative;
    padding: 120px 0 0 0;
    z-index: 1;
}
.txt_affiliate p {
    width: 460px;
    height: 320px;
    margin: 0 0 0 720px;
    padding: 40px 0 0 60px;
    font-size: 15px;
    color: #232937;
    line-height: 1.7em;
    background: #fff;
    box-sizing: border-box;
}
.txt_affiliate strong {
    display: block;
    margin-bottom: 10px;
    font-size: 26px;
    color: #232937;
    font-weight: 700;
    line-height: 1.2em;
}
.affiliate_list {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 100px 0 0 0;
}
.affiliate_list li {
    position: relative;
    display: table-cell;
    text-align: center;
    height: 200px;
    padding: 105px 0 0;
    font-size: 16px;
    color: #da291c;
    font-weight: 700;
    box-sizing: border-box;
}
.affiliate_list li.affiliate01 {
    background: url(../images/ico_affiliate01.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate02 {
    background: url(../images/ico_affiliate02.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate03 {
    background: url(../images/ico_affiliate03.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate04 {
    background: url(../images/ico_affiliate04.png) no-repeat 50% 20px;
}
.affiliate_list li.affiliate05 {
    background: url(../images/ico_affiliate05.png) no-repeat 50% 20px;
}
.affiliate_list li span {
    display: block;
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: -0.5px;
}
.affiliate_list li:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 200px;
    background: url(../images/business/bg_affiliate_list.gif) no-repeat 0 0;
}
.tit_affiliate {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding: 100px 0 25px 0;
    font-size: 46px;
    color: #222;
}
.tit_affiliate:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #da291c;
    margin-left: -30px;
}
.core_contents {
    position: relative;
    overflow: hidden;
    height: 520px;
}
.core_visual {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1920px;
    height: 520px;
    margin-left: -960px;
}
.service_slide {
    position: absolute;
    left: 50%;
    top: 40px;
    width: 400px;
    height: 440px;
    margin-left: -590px;
    background: #fff;
    z-index: 1;
}

.service_slide .bx-viewport, .service_slide .bx-wrapper {
    overflow: hidden;
    width: 400px !important;
}

.bx-viewport li.active {
  opacity: 1;
}
.service_slide li {
    overflow: hidden;
    text-align: center;
    width: 400px;
    padding: 50px 50px 0;
    height: 350px;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
    font-weight: 600;
    box-sizing: border-box;
}
.service_slide li strong {
    display: block;
    height: 75px;
    font-size: 28px;
    color: #da291c;
    font-weight: 600;
    line-height: 1.2em;
    box-sizing: border-box;
}

.service_slide li p span {
    display: block;
    padding-bottom: 20px;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
}
.service_slide .bx-controls {
    position: absolute;
    left: 0;
    bottom: 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0 85px;
    box-sizing: border-box;
}
.service_slide .bx-pager {
    display: inline-block;
    vertical-align: middle;
}
.service_slide .bx-pager-item {
    display: inline-block;
    vertical-align: middle;
}
.service_slide .bx-pager-item a {
    display: inline-block;
    width: 24px;
    height: 10px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/img_indicator.png) no-repeat 50% 0;
}
.service_slide .bx-pager-item a.active {
    position: relative;
    background-image: url(../images/img_indicator_on.png);
}
.service_slide .bx-pager-item a.active::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 3.4px;
    width: 16px;
    height: 16px;
    border: 1px solid #da291c;
    border-radius: 100%;
}
.service_slide .bx-controls-direction {
    display: inline-block;
}
.service_slide .bx-controls-direction .bx-prev {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    left: 45px;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/btn_vedio_left.png) no-repeat 0 0;
}
.service_slide .bx-controls-direction .bx-next {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/btn_video_right.png) no-repeat 0 0;
}
.network_area {
    width: 1180px;
    margin: 0 auto 120px;
}
.network_area .tit_affiliate {
    margin-bottom: 30px;
}
.tit_affiliate:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #da291c;
    margin-left: -30px;
}
.txt_network {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    color: #222;
}
.tbl01 table {
    width: 100%;
    border-top: 1px solid #dfdfdf;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
}
/*
hr, legend, caption, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
적용을 해야하는지 안해도 되는지 아직 모름*/
.tbl01 thead th {
    padding: 12px 0 10px 0;
    font-size: 15px;
    color: #fff;
    border-left: 1px solid #dfdfdf;
    background: #da291c;
}
.tbl01 thead th:first-child {
    border-left: 0;
}
.tbl01 tbody td {
    text-align: center;
    padding: 16px 0 15px 0;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    border: 1px solid #dfdfdf;
}
.tbl01 tbody td:first-child {
    border-right: 0;
}.tbl01 tbody td.left {
    text-align: left;
    padding-left: 30px;
}
.affiliate_wrap {
    padding: 50px 0 70px 0;
    border-top: 1px solid #dfdfdf;
}
.affiliate_view {
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}
.affiliate_view .bx-viewport {
    padding: 4px;
}
.affiliate_view li {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.affiliate_view li a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    padding: 0 15px;
    font-size: 17px;
    color: #da291c;
    line-height: 1.4em;
    border-left: 1px solid #dfdfdf;
    font-family: 'LotteGroup';/*이거 추가해야함*/
}
.affiliate_view li a:first-child {
    border-left: 0;
}
.affiliate_view .bx-controls {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 290px;
    height: 40px;
    margin: 40px 0 0 0;
    box-sizing: border-box;
}
.affiliate_view .bx-pager {
    display: inline-block;
    vertical-align: middle;
}
.affiliate_view .bx-pager-item {
    display: inline-block;
    vertical-align: middle;
}
.affiliate_view .bx-pager-item a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 7px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/img_indicator.png) no-repeat 50% 50%;
}
.affiliate_view .bx-pager-item a.active {
    background-image: url(../images/img_indicator_on.png);
    border: 1px solid #da291c;
    border-radius: 100%;
}
.affiliate_view .bx-controls-direction {
    display: inline-block;
}
.affiliate_view .bx-controls-direction .bx-prev {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/btn_vedio_left.png) no-repeat 0 0;
}
.affiliate_view .bx-controls-direction .bx-next {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/btn_video_right.png) no-repeat 0 0;
}
.footer {
    position: relative;
    height: 160px;
    background: #54585a;
}
.footer .footer_contents {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer .footer_contents .left-area {
    display: flex;
}
.footer .footer_menu {
    position: relative;
    padding: 40px 0 0 80px;
}
.footer .footer_menu .footer_logo {
    position: absolute;
    left: 0;
    top: 28px;
}
.footer .agree_list li {
    display: inline-block;
    margin: 0 0 0 17px;
    padding: 0 0 0 18px;
    background: url(../images/bar_agree_list.gif) no-repeat 0 0;
}
.footer .agree_list li a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
.footer .agree_list li:first-child {
    margin: 0;
    padding: 0;
    background: none;
}
.footer .agree_list li:first-child a {
    color: #d6c1a1;
    font-weight: 800;
}
.footer .footer_contents .right-area {
    display: flex;
}
.footer .accessibility_mark {
    padding-top: 23px;
    width: 117px;
    height: 83px;
}
.footer .sns_wrap {
    position: relative;
    padding: 40px 290px 30px 0;
}
.footer .sns_wrap a {
    display: inline-block;
    padding: 0 10px;
}
.select_wrap {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 220px; 
    height: 40px;
    background: #474b4d;
}
.select_wrap select {
    font-size: 16px;
    width: 100%;
    height: 40px;
    color: #252525;
    border: 1px solid #b6b6b6;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../images/bg_select_arrow.png) 100% 50% no-repeat;
    text-indent: 5px;
}
.select_wrap select option {
    width: 100%;
    font-size: 14px;
    color: #000;
}
.footer .btn_srchPubDt {
    position: absolute;
    right: 0;
    top: 30px;
    width: 40px;
    height: 40px;
    background-color: #cacaca;
    vertical-align: middle;
}
.footer .copy {
    text-align: left;
    padding: 17px 0 0 0;
    border-top: 1px solid #474b4d;
    font-size: 13px;
    color: #ddd;
    font-family: arial;
    width: 1180px;
    margin: 0 auto;
}
.btn_top {
    position: fixed;
    left: 50%;
    bottom: 180px;
    margin-left: 610px;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.5s ease-out;
}
.btn_top.on {
    opacity: 1;
    filter: alpha(opacity=100);
}